html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.main-d {
  margin: 50px 10% 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

.price-wrap {
  position: relative;
  margin: 40px 0;
  padding: 15px 10px;
  border: solid 1px rgba(243, 78, 142, 0.3);
}
.price-wrap h2 {
  position: absolute;
  margin-top: -35px;
  padding: 0 5px 0;
  font-size: 1.7em;
  background: #fff;
  font-weight: 600;
}
.head-o h3  {
    padding: 15px 10px;
    /*margin-bottom: 15px;*/
    color: #f34e8e;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
}

.main-mark {
  /*margin: 10px 0;*/
  padding: 0 10px 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.price-m {
  position: relative;
  padding: 10px;
  border-bottom: solid 1px rgba(243, 78, 142, 0.3);
  /*width: 100%;*/
}
.price-m .head {
  background: gray;
}
.price-m .price-right {
  position: absolute;
  width: 150px;
  right: 0;
  top: 30%;
  text-align: center;
}
.price-m .price-left {
  margin-right: 150px;
  /*width: 70%;*/
}
#main{
  cursor: pointer;
}
@media (max-width: 620px) {
  .price-wrap h2 {
    margin-top: -27px;
    font-size: 1.2em;
  }

  .head-o h3  {
      font-size: 1.1em;
  }
}


/*------Note-------------*/
.form-group {
  margin: 50px 30% 0;
}
.form-group h1 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
}

/*.form-group {
  margin: 50px auto 10px;
  width: 270px;
}*/
.form-group .form-control{

  /*width: 70%;*/
  border-radius: 5px;
  padding: 5px;
}
/*.form-inline{
  display: block;
}*/
.form-group .but{
  margin-top: 10px;
  padding: 7px 15px;
  border-radius: 5px;
  background: gray;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.field {
  position: relative;

  margin-bottom: 15px;
  clear:both;
  text-align:right;
  width: 100%;
}
.fields {
  margin-bottom: 15px;
  clear:both;
  /*text-align:right;*/
}
label {
  float:left;
  padding-right: 20px;

}
.field input, .field textarea{
  width: 100%;
}
/*.lab {
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  margin: auto 0;
}*/

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

textarea.ng-touched.ng-invalid {border:solid red 2px;}
textarea.ng-touched.ng-valid {border:solid green 2px;}

/*.form-group .form-control{
  margin-bottom: 10px;
}*/
.form-group span {
  font-size: 0.7em;
  color: #000;
}
.form-group span a {
  color: blue;
  cursor: pointer;
}
/*.form-group .bottom{
  padding: 16px 12px 190px;
}
.form-group .but{
  margin-top: 10px;
  padding: 7px 15px;
  border-radius: 5px;
  background: #f34e8e;
  border: none;
  color: #fff;
  font-weight: 500;
}*/
@media (max-width: 620px) {
  .form-group {
    margin: 50px 10% 0;
  }
}
