<div class="main">
  <h1>О клинике</h1>
  <p>Стоматологическая клиника АГАМИ является клиникой высшего класса и соответствует уровню ведущих клиник мира. Гарантия на наши услуги составляет до 10 лет!</p>
  <p>Стоматологический Центр АГАМИ открыт в 2003 году доктором медицины Анатолием Агами, имплантологом с мировым именем, который родился в Украине, но получил образование и более 20 лет практиковал в Израиле. В столице в современной и высокотехнологичной клинике им собран уникальный коллектив врачей, каждый из которых имеет высокую квалификацию и узкую специализацию, что вместе гарантирует высокое качество лечения.</p>
  <div class="property">
    <h1>7 фактов о клинике АГАМИ</h1>

    <div class="">
      <h3>Опыт</h3>
      <p>Мы работаем с 1997 года. За это время помогли нескольким тысячам пациентов, установили более 55000 имплантов. Наша клиника является одной из ведущих в столице, ежедневно мы проводим по 7-8 стоматологических операций различных направлений, поэтому наши специалисты имеют колоссальный опыт и практические навыки решения задач разной сложности на высоком профессиональном уровне. Мы постоянно в процессе работы сталкиваемся со сложными случаями и практически всегда находим решение!</p>
    </div>

    <div class="">
      <h3>Оборудование и материалы</h3>
      <p>В клинике используется передовое стоматологическое оборудование: микроскопы от Karl Kaps, стерилизационное оборудование Tutnauer, компьютерная анестезия 3-го поколения CompuDent STA Drive Unit, комплексная компьютерная система для ортопедии CEREC 3D и т.д. Клиника оборудована уникальным компьютерным дентальным томографом NewTom 5G, который позволяет с высокой степенью точности планировать операции. Мы работаем только с проверенными поставщиками и используем материалы и имплантаты ведущих мировых брендов.</p>
    </div>

    <div class="">
      <h3>Специалисты</h3>
      <p>Все специалисты клиники имеют узкую специализацию, что позволяет уже на консультации максимально точно подобрать врача для решения конкретной проблемы в конкретном индивидуальном случае. Специалисты регулярно повышают квалификацию и стажируются заграницей.</p>
    </div>
  </div>
</div>
